.form
  .item
    = link_to "/", class: "" do
      .item__image
        = image_tag "#", alt: "商品画像", class: "",size: "187x187"
      .item__bottom
        %span.item__bottom__title
          タイトル
          .item__bottom__title__hidden-box
      .item__price
        価格