.buypage{
  text-align: center;
  &__header{
    height:5.6rem;
  }
  &__main{
    width: 700px;
    background-color: white;
    margin: 0 auto;
    color: rgb(34, 34, 34);
    
    &__title{
      border-bottom: solid 1px rgb(238, 238, 238);
      font-size: 18px;
      height: 50px;
      line-height: 50px;

    }
    &__item{
      // display: flex;
      // justify-content: center;
      padding-bottom: 6rem;
      .flex{
        display: flex;
        font-weight: bold;
        justify-content: center;
        border-bottom: solid 1px rgb(238, 238, 238);
        height: 129px;
        padding: 16px;
        // line-height: 129px;
      }
      &__texts{
        margin-left: 2rem;
        .flex2{
          display: flex;
          font-weight: bold;
          justify-content: center;
        }
        &__title{
          text-align: left;
          padding-bottom: 8px;
        }
        &__image{
          height: 80px;
        }
        &__price{
          
        }
        &__send-fee{
        }
      }
      &__form{
        width: 34.3rem;
        margin: 0 auto;
        &__price{
          padding: 16px;
          border-bottom: solid 1px rgb(238, 238, 238);
          .upper{
            display: flex;
            justify-content: center;
            justify-content: space-between;
            
          }
          &__label{
            font-size:18px;
            font-weight: bold;
          }
          &__num{
            font-size:1.4rem;
            font-weight: bold;
          }
          &__point{
            color: #888888;
            padding-top: 1rem;
            text-align: left;
          }
        }
        &__pay-way{
          padding: 16px;
          border-bottom: solid 1px rgb(238, 238, 238);
          display: flex;
          justify-content: space-between;
          .left{
            &__name{

            }
            &__credit{

            }
            &__logo{

            }
          }
          .right{

          }

        }
        &__delivery{
          display: flex;
          justify-content: space-between;
          padding:16px;
          border-bottom: solid 1px rgb(238, 238, 238);
        }
        &__buy-btn{
          background-color: #EA352D;
          height: 50px;
          color: white;
          font-weight: bold;
          width: 343px;
          line-height: 50px;
          margin: 0 auto;
          margin-top: 20px;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.4rem;
        }
      }
    }
  }
  .buy-page__footer{
    color: #333333;
    font-size: 1.2rem;
    .another-link{
      color: #333333;
      text-decoration: none;
    }
    &__top{
      margin: 3rem;
    }
  }
}