.card-done
  %h1購入決済完了しました！

  %h3 商品名：#{@item.name}
  %h3 価格：¥#{@item.price}(送料込み)
  = link_to root_path ,class:'btn' do
    %button.submit-btn 商品一覧へ戻る
  = link_to 'https://pay.jp/d/charges',class:'btn' do
    %button.submit-btn pay.jp