.flima_link {
  background-image: url('material/pict/bg-topMiddleDl-pict.jpg');
  background-size: cover;
  background-position: bottom right;
  height: 40rem;
  display: flex;
  align-items: center;
  .dl-pr {
    margin: 0 15%;
    width: 100%;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    &__title {
      font-size: 2.7rem;
      color: #ffffff;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      color: #ffffff;
      font-size: 1.8rem;
      margin: 2rem 0 3rem;
    }
  }
}





// %section.flima_link
//     .dl-pr
//       %h2.dl-pr__title
//         会員数日本一位
//       %p.dl-pr__text
//         FURIMAは、フリマアプリで最も人気。
//         %br
//         出品・購入回数も業界最多です！
//         %br
//         ほしかったあの商品に出会えるかもしれません。
//         .dr-btns
//           = link_to '/', class: "a-btn" do
//             = image_tag "app_logo/app_store.png", alt: "AppStoreで入手", class: "btn-image"
//           = link_to '/', class: "g-btn" do
//             = image_tag "app_logo/google_play.png", alt: "Goole Playで入手", class: "btn-image"
