.flema_link {
  background-image: url('material/pict/bg-topMiddleDl-pict.jpg');
  background-size: cover;
  background-position: bottom right;
  height: 40rem;
  display: flex;
  align-items: center;
  .dl-pr {
    margin: 0 auto;
    width: 70%;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    &__title {
      font-size: 2.7rem;
      color: #ffffff;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      color: #ffffff;
      font-size: 1.8rem;
      margin: 2rem 0 3rem;
    }
  }
}
