.header{
  margin-left: 60px;
  margin-right: 60px;
  &__contents{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:0px ;
    padding-right:0px ;
    &__logo{
      margin-right: 40px;
    }
    &__input{
      width: 100%;
      height: 36px;
      font-size:14px;
    }
    &__btn-png{
      background-color:rgb(60, 202, 206);
      padding: 8px;
      height: 36px;
      text-align: center;
      line-height: 32px;
    }
  }
  &__contents--two{
    padding-bottom: 10px;
    a{
      text-decoration: none;
      color: #333333;
      font-size: 14px;
    }
    .a-btn{
      padding-right:30px ;
    }
    ul{
      display: flex;
      justify-content: space-between;
      padding-left: 0px;
    }
    li{list-style: none;}
    &__left{
      display: flex;
    }
    &__right{
      display: flex;
    }
  }
  
}
