// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  .flima-top {
    width: 100%;
    height: 56rem;
    background-image: url('material/pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
    display: flex;
    align-items: center;
    padding: 0 120px;
    .theme {
      padding: 3.5rem 0 0;
      margin: 0 auto;
      width: 100%;
      &__title {
        font-size: 6rem;
         margin: 0;
         color: #ffffff;
        text-shadow:0 0 5px rgba(0,0,0,0.4);
        line-height: 1.2;
        margin-top: 1.6rem;
      }
      &__sub-title {
        font-size: 1.8rem;
        color: #ffffff;
        text-shadow:0 0 5px rgba(0,0,0,0.4);
        line-height: 1.7;
        margin: 2.4rem;
      }
    }
  }
}

.dr-btns {
  .a-btn, .g-btn {
    text-decoration: none;
    .btn-image {
      object-fit: cover;
      width: 180px;
      height: 50px;
      border-radius: 10px;
    }
  }
}
