/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "config/colors";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "normalize";

 @import "top_page/sec1";
 @import "top_page/sec2";
 @import "top_page/sec3";
 @import "moduls/header";
 @import "top_page/aside";
 @import "top_page/category";
 @import "top_page/brand";
 @import "moduls/footer";
 @import "top_page/purchase-btn";
 @import "items/item_new";
 @import "items/item_buy";
 @import "devise/registrations/new_address";
 @import "devise/registrations/new_credit_card";
 @import "users/show";
 @import "moduls/flash";
 @import "items/item_show";
 @import "items/item_share";
 @import "moduls/prev-image";
 @import "moduls/sub_contents";
 @import "moduls/gretel";

 .heading {
   font-size :2.6rem;
   font-weight: bold;
   text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   display: inline;
   background-color: transparent;
 }

 .inner {
   text-align: center;
   display: block;
 }
