.notification {
  .notice {
    height: 3rem;
    font-size: 1.8rem;
    background-color:cornflowerblue;
    color: white;
    text-align: center;
  }

  .alert {
    height: 3rem;
    font-size: 1.8rem;
    background-color: orange;
    color: white;
    text-align: center;

  }
 }