
%header.header
  .header__contents

%main.main
  %section.flima_top
    .theme
      %h1.theme__title
      %p.theme__sub_title
      .theme__btns
        = link_to do
          = image_tag ''
        = link_to do
          = image_tag ''
  %section.flima_selling_point
  %section.flima_link
  %section.flima_characteristic
  %section.flima_pic_category
  %section.flima_pic_brand
%aside.aside
%fotter
