-# =render partial:'shared/item',locals:{ article:@article }

.i-s
  .inner
    %h2.heading
      購入済み商品
    .form
      - if @items.present?
        - @items.each do |item|
          = render partial: 'shared/item', locals: {item: item}
